.NavBar {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    padding-left: 10px;

    /* background-color: rgba(128, 0, 128, 0.479); */
}

.Link {
    text-decoration: none;
    color: #0063cc;
    border: 0.4px solid #0063cc;
    /* padding: '3px 4px'; */
    border-radius: 10px;
    cursor: pointer;
}