.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40ch;
}


.Register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px
}


.Register_Box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    height: 300px;
    width: auto;
}

.Main_Box {
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 100vh;
    /* gap: 24px; */
    padding: 24px;
}

.form__box {
    flex: 1;
    max-width: 600px;
}

.image__box {
    flex: 1;
    max-width: 600px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

@media (max-width: 900px) {
    .image__box {
        display: none;
    }

    .form__box {
        max-width: 100%;
    }
}

/* input {
    background-color: #fff !important;
} */